player-connection-mode=Listen
player-connection-guid=624105510
player-connection-debug=0
player-connection-project-name=MyGame
player-connection-ip=192.168.145.1
player-connection-ip=192.168.223.1
player-connection-ip=192.168.1.13
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5e96f0ad644d42669bd3b1f8cbc3d31f
